<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Daniel Loth</title>

    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css"> -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kimeiga/bahunya/dist/bahunya.min.css"> -->
    <!-- <link rel="stylesheet" href="https://raw.githubusercontent.com/vasanthv/stylize.css/master/stylize.min.css" /> -->

    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/yegor256/tacit@gh-pages/tacit-css-1.5.5.min.css"/> -->

    <!-- <style>
        header nav {
            display: flex;
            justify-content: space-evenly;
        }

        header nav a {
            margin: 0 1em;
            padding: 2em;
        }

        code {
            padding: 0 1em;
        }

        code > span {
            padding: 0 1em;
        }
    </style> -->
</head>
